doctype html 
html 
    head 
        style 
            include style.css
    body 
        h1 Olá, #{participantName}!
        h3 A plataforma SuperDot informa que você foi convidado para participar de uma pesquisa sobre Superdotação/Altas Habilidades (AH/SD)
        
        p Pesquisador responsável pela pesquisa: #{researcherName} (#{researcherEmail})

        br
        a(href=formURL target="_blank") Clique aqui para navegar até o sistema e iniciar a participação na pesquisa.
        br
        br
        footer Caso o botão não funcione, utilize a URL a seguir: #{formURL}
                
        br
        p O SuperDot é uma plataforma utilizada por pesquisadores de AH/SD para coletar e analisar dados de participantes de pesquisas.
        br

        footer Essa mensagem é automática e não deve ser respondida.